input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

/* Estilos generales para el cintillo */
.bienvenida {
    background-image: url(cintillo.png);
    color: #ffffff;
    background-size: cover;
    padding: 3% 20px;
    
}


/* Estilo y tamaño del logo */
.bienvenida {
    min-width: 100px; /* Ajusta este tamaño según lo necesario */
}

/* Estilo de texto */
.bienvenida .unem-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    text-align: right;
}

/* Responsividad */
@media (max-width: 768px) {
    .bienvenida .unem-text {
        font-size: 1rem;
    }
    .bienvenida img {
        max-width: 80px;
    }
}

@media (max-width: 576px) {
    .bienvenida .unem-text {
        font-size: 0.9rem;
        text-align: center;
    }
    .bienvenida img {
        max-width: 70px;
        margin-bottom: 5px;
    }
}


/* Estilo básico y centrado para el pie de página */
#footer {
    background-image: url(banner-pie-de-pagina-web.png);
    padding: 40px 0;
    text-align: center;
    background-size: cover;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    z-index: -1;
}

/* Media Queries para ajustar el footer en pantallas más pequeñas */
@media (max-width: 768px) {
    #footer {
        padding: 1.5em 0; /* Menos padding en pantallas más pequeñas */
        font-size: 0.9em; /* Tamaño de fuente más pequeño */
    }
}

@media (max-width: 480px) {
    #footer {
        padding: 1em 0; /* Aún menos padding en pantallas muy pequeñas */
        font-size: 0.8em; /* Tamaño de fuente aún más pequeño */
    }
}

/* Ajuste de texto en pantallas más pequeñas */
@media (max-width: 576px) {
    #footer {
        font-size: 12px;
        position: relative;
    }
}
@media (max-height: 760px) {
    #footer {
        font-size: 12px;
        position: relative;
    }
}

.enviar{
    width: 10%;
}

.load-more.load-more--loading {
    -webkit-animation: rotate 1.5s linear infinite;
            animation: rotate 1.5s linear infinite;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    background-color: transparent;
    border: 0.3em solid #e1e1e1;
    border-radius: 1.5em;
    border-top-color: #444;
    box-sizing: border-box;
    height: 3em;
    color: transparent;
    padding: 0;
    pointer-events: none;
    width: 3em;
  }
  
  @-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  